
<%= stylesheet_link_tag 'rooms', :media => "all" %>
<div class= "margin">
</div>
<br>
<div align="center" class="center clip-box-a">
    <h4>DM</h4>
    <h5>&emsp;<% @entries.each do |e| %>
        <strong><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong>
        &emsp;
    <% end %>
    </h5>
    <hr>
    <% if @messages.present? %>
        <div align="center" class="message">
            <% @messages.each do |m| %>
                <% if m.user_id == current_user.id %>
                    <div class="right-message-name">
                        <%= m.created_at.to_s(:datetime_jp) %>
                    </div>
                    <div class="right-message">
                        <strong><%= m.content %></strong>
                    </div>
                <% else %>
                    <div class="left-message-name">
                        <small><strong><a href="/users/<%= m.user_id %>"><%= image_tag m.user.image_url, size: "50x50", class:"rounded-circle" if m.user.image? %></a></strong></small>
                        <br>
                        <%= m.created_at.to_s(:datetime_jp) %>
                    </div>
                    <div class="left-message">
                        <strong><%= m.content %></strong>
                    </div>
                <% end %>
            <% end %>
    <% else %>
        <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
        </div>
    <div class="centers">
        <div style="display:inline-flex">
            <%= form_for @message do |f| %>
                <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 20 %>
                <%= f.hidden_field :room_id, :value => @room.id %>
                <%= f.button :type => "submit", style: 'border-style: none;' do %>
                    <i class="fas fa-paper-plane fa-2x"></i>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="margin2">
</div>
<%#<%= link_to "ユーザー一覧に戻る", users_path %>