<%= stylesheet_link_tag 'index', :media => "all" %>
<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/css/reset.css">
    <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/css/5-9.css">
    <body>
        <div class= "margin">
        </div>
                <div id="particles-js">
        </div>
        <div class="container clip-box-a">
            <div class="centers">
                <h2>AmazonPrime</h2>
            </div>
            <div class="row">
                <% @amazonprimes.each do |t| %>
                    <div class="col-md-4 l-wrapper_06">
                    <div class="card_06">
                        <a href="/posts/<%= t.id %>"><%= image_tag t.image_url, class:"card-img-top"  if t.image? %></a>
                        <%#= image_tag t.image_url,size: "350x250" if t.image? %>
                        <div class="card-content_06">
                        <p class="card-title_06">
                            <%= t.title %>
                        </p>
                        <p class="card-text_06">
                            <h4><%= image_tag t.user.image_url, size: "80x80", class:"rounded-circle" if t.user.image? %>
                            &emsp;
                            <%= link_to t.user.name, t.user %>
                            </h4>
                            <p><small><%= t.created_at.to_s(:datetime_jp) %></small></p>
                            <% if user_signed_in? %>
                                <% if current_user.already_liked?(t) %>
                                    <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                        <i class="far fa-grin-squint fa-2x"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                        <i class="far fa-grin-squint fa-2x"></i><%= t.likes.count %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <i class="far fa-grin-squint fa-2x"></i><%= t.likes.count %>
                            <% end %>
                            &emsp; &emsp;
                            <% if user_signed_in? && current_user.id == t.user_id %>  
                                <%= link_to edit_post_path(t.id)  do %>
                                    <i class="fas fa-wrench fa-2x"></i>
                                <% end %>
                                &emsp; &emsp;
                                <%= link_to post_path(t.id), method: :delete do %>
                                    <i class="fas fa-trash-alt fa-2x"></i>
                                <% end %>
                            <% end %>
                        </p>
                        </div>
                    </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class= "margin2">
        </div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-9/js/5-9.js"></script>
    </body>
</html>
