<%= stylesheet_link_tag 'index', :media => "all" %>


<div class= "margin">
</div>
<div class="posts-container">
    <h1>Hulu</h1>
    <% @hulus.each do |t| %>
        <div class="post">
            <div class="main-box">
                <div class="left-container">
                    <%= t.title %>
                    <p><%= image_tag t.image_url, size: "250x200" if t.image? %></p>
                </div>
                <div class="right-container">
                <p>投稿時刻：<%= t.created_at.to_s(:datetime_jp) %></p>
            
                <p>投稿者：<a href="/users/<%= t.user.id %>"><%= t.user.name %></a></p>
                <p>タイトル：<%= t.title %></p>
                <p>視聴ツール：<%= t.genre %></p>
                <p>視聴予定時刻：<%= t.time.strftime("%Y年 %m月 %d日 %H時 %M分") if t.time? %></p>
                参加する
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                        <i class="far fa-grin-squint"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                        <i class="far fa-grin-squint"></i><%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="far fa-grin-squint"></i><%= t.likes.count %>
            <% end %>
            <br>
        <p><%= link_to "詳細へ", post_path(t.id) %></p>
        <% if user_signed_in? && current_user.id == t.user_id %>  
            <%= link_to edit_post_path(t.id)  do %>
                <i class="fas fa-wrench"></i>
            <% end %>
            <br>
            <%= link_to post_path(t.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
        <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class= "margin2">
</div>