<%= stylesheet_link_tag 'new', :media => "all" %>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
      <div class= "margin">
      </div>
      <div class="users-container container">
        <div class="user5 clip-box-a">
          <p class="title">新規視聴予定投稿</p>
          <%= form_for @post do |f| %>
              <div class="field">
                  <p><%= f.label :視聴タイトル %></p>
                  <p><%= f.text_field :title, :placeholder => "例：ミッドサマー", :size => 140 ,class:"fa fa-edit fa-lg fa-fw"%></p>
              </div>
              <div class="field">
                  <%#= f.label :視聴イメージ画像 %>
                  <%#= f.label :image ,"file",class:"btn-box" %>
                  <%#= f.file_field :image ,class:"image_form"%>
                  <p><%= f.label :視聴イメージ画像 %></p>
                  <p><%= f.file_field :image %></p>
              </div>
              <div class="field">
                  <p><%= f.label :視聴ツール %></p>
                  <p><%= f.select :genre, [["TV", "TV"], ["YouTube", "YouTube"], ["Netflix", "Netflix"], ["Amazom Prime", "Amazon Prime"], ["Hulu", "Hulu"], ["DAZN", "DAZN"], ["その他", "その他"]], include_blank: "選択して下さい" %></p>
              </div>
              <div class="field">
                  <p><%= f.label :紹介・一言 %></p>
                  <p><%= f.text_field :body,:placeholder => "例：ホラー系です！一緒に絶叫しましょう！", :size => 140 ,class:"fa fa-edit fa-lg fa-fw" %></p>
                  <%#i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i%>
                  <%#<i>はイタリック体にするやつ%>
              </div>
              <div class="field">
                  <p><%= f.label :視聴予定時刻 %></p>
                  <p><%= f.datetime_field :time %></p>
                  <%#<p><%= f.datetime_field :time.strftime("%Y年 %m月 %d日, %H:%M") %>
              </div>
                  <%= f.button :type => "submit", class:"button" do %>
                      <i class="far fa-paper-plane "></i>投稿する
                  <% end %>
          <% end %>
        </div>
      </div>

      <div class= "margin2">
      </div>
    </body>
</html>

