<%= stylesheet_link_tag 'index', :media => "all" %>
<br>
<div class="posts-container">
    <div class="post">
        <h1>投稿詳細</h1>
        <div class="main-box">
            <div class="left-container">
                <p>投稿者：<a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a></p>
                <p>タイトル：<%= @post.title %></p>    
                <p><%= image_tag @post.image_url,size: "250x200" if @post.image? %></p>
            </div>
            <div class="right-container">
                <p>・投稿時刻：<%= @post.created_at.to_s(:datetime_jp) %></p>
                <p>・視聴ツール：<%= @post.genre %></p>
                <p>・一言：<%= @post.body %></p>
                <p>・視聴予定時刻：<%= @post.time.strftime("%Y年 %m月 %d日 %H時 %M分") if @post.time? %></p>
                <%#<p>zoomリンク：<%= @post.zoom %>
                <br>
                <br>
                参加する
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(@post) %>
                        <%= link_to post_like_path(@post), method: :delete do %>
                            <i class="far fa-grin-squint"></i><%= @post.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(@post), method: :post do %>
                            <i class="far fa-grin-squint"></i><%= @post.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="far fa-grin-squint"></i><%= @post.likes.count %>
                <% end %>
                <br>
                <p><%= link_to("zoomへ", @post.zoom )%></p>
                <% if user_signed_in? && current_user.id == @post.user_id %>  
                    <%= link_to edit_post_path(@post.id)  do %>
                        <i class="fas fa-wrench"></i>
                    <% end %>
                    <br>
                    <%= link_to post_path(@post.id), method: :delete do %>
                        <i class="fas fa-trash-alt"></i>
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="sanka">
        <h2>参加ユーザー</h2>
        <% @post.liked_users.each do |user| %>
            <li><%= user.name %></li>
        <% end %>
    </div>

    <div class="comment-wrapper">
        <br>
        <h1>コメント一覧</h1>
        <% @comments.each do |c| %>
            <div>
                <p><%= c.created_at.to_s(:datetime_jp) %></p>
                <p>ユーザー：<%= c.user.name unless c.user.blank? %></p>
                <p>コメント：<%= c.content %></p>
                </div>
        <% end %>

        <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |f| %>
                <%= f.text_area :content %>
                <%= button_tag type: "submit" do %>
                    <i class="far fa-comments"></i> コメントする
                <% end %>
            <% end %>
        <% end %>
    </div>
