<!DOCTYPE html>
<html>
  <head>
    <title>Remoshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header-list">
        <nav class="navbars navbar-expand-lg navbar-dark bg-dark he2"> 
          <div class="navbar-brand">  
            <h1><%= link_to "リモシェア", posts_path %></h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              &emsp; &emsp; 
              <li>
                <%= link_to new_post_path do %>
                  <i class="fas fa-pen fa-2x"></i>
                <% end %>
              </li>
              &emsp; &emsp; 
              <li>
                <%= link_to users_path do %>
                  <i class="fas fa-users fa-2x"></i>
                <% end %>
              </li>
              &emsp; &emsp; 
              <% if current_user%>
                <li>
                  <a href="/users/<%= current_user.id %>">
                  <i class="fas fa-user fa-2x"></i><%= current_user.name %></a>
                </li>
                &emsp; &emsp; 
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                  <%end%>
                </li>
                &emsp; &emsp; 
              <% else %>
                <li>
                  <%= link_to posts_path do %>
                    <i class="fas fa-sign-in-alt fa-2x"></i>
                  <%end%>
                </li>
                &emsp; &emsp; 
                <li>
                  <%= link_to new_user_registration_path do %>
                    <i class="fas fa-user-plus fa-2x"></i>
                  <%end%>
                </li>
                &emsp; &emsp; 
              <% end %>
            </div>
          </div>
        </nav>        
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © 2021 WataruShinoda All Rights Reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



<%#div class="cp_cont">
	<div class="cp_offcm01">
		<input type="checkbox" id="cp_toggle01">
		<label for="cp_toggle01"><span></span></label>
		<div class="cp_menu">
		<ul>
    <% if current_user %>
    <%#= link_to 'ホーム', posts_path %>
    <%#= link_to '新規投稿', new_post_path %>
    <%#= link_to 'Users一覧', users_path %>
    <%#= link_to 'TV', posts_tv_path %>
    <%#= link_to 'YouTube', posts_youtube_path %>
    <%#= link_to 'Netflix', posts_netflix_path %>
    <%#= link_to 'AmazonPrime', posts_amzonprime_path %>
    <%#= link_to 'Hulu', posts_hulu_path %>
    <%#= link_to 'DAZN', posts_dazn_path %>
    <%#= link_to 'その他', posts_other_path %>
    <%# end %>
		<%#/ul>
		</div>
	</div>
</div>


                <%#= form_tag({controller:"posts",action:"index"}, method: :get) do %>
                    <%#= text_area_tag :search,"", :placeholder => "タイトル名など入力" , class:"form-control mr-sm-2" %>
                    <%#= submit_tag '検索する', class:"btn btn-outline-success my-2 my-sm-0" %>
                    <%#end%>
